@model IEnumerable<u20633930_HW041.Models.Food>

@{
    ViewBag.Title = "FoodIndex";
}

<h2>FoodIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<button class="btn btn-success" onclick="window.location.href = '@Url.Action("AddFood","PF")'">New Donation</button>

<br/>
<br/>

<table class="table table-bordered bg-warning">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDGID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDGNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cosmetics)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDGID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDGNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cosmetics)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            <button class="btn btn-primary" onclick="window.location.href = '@Url.Action("EditF","PF")'">Edit Donation</button>
            <br />
            <button class="btn btn-danger" onclick="window.location.href = '@Url.Action("DeleteF","PF")'">Delete Donation</button>
        </td>
    </tr>
}

</table>
